@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body {
	text-align: center;
	background-color: black;
	margin: 0;
	margin-top: 2.5%;
	font-family: 'Josefin Sans', sans-serif;
}

img {
	border: 3px white solid;
}

h1 {
	color: white;
}

h2 {
	color: white;
	margin: 2.5%;
}

button {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	height: 50px;
	width: 100px;
}

button:hover {
	color: white;
	background-color: black;
	transition: background-color 0.25s, color 0.25s;
}

a {
	color: white;
	margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 12px;
  margin-left: 12px;
  text-align: left;
  text-decoration: none;
}

p {
	color: white;
	margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 12px;
  margin-left: 12px;
  text-align: left;
  text-decoration: none;
}

.thumbnail {
	border-radius: 0%;
	max-width: 100%;
	height: auto;
	display: block;
}

.columns {
 	width: 300px;
  display: inline-block;
  vertical-align: top; 
  margin: 2.5%;
  margin-top: 0;
 }

 .columns:hover {
 	opacity: 0.75;
 	transition: opacity 0.25s;
 }

.thumbnail-row {
  color: white;
  margin-bottom: 12px;
  height: auto;
}

.profile-pic-1 {
	width: 10%;
	border-radius: 50%;
	margin-top: 2.5%;
}

.profile-pic-2 {
	width: 10%;
	border-radius: 50%;
	margin-top: 2.5%;
	border: none;
	width: 40px;
}

.hamza {
	margin-bottom: 2.5%;
}

.preview {
	width: 50%;
	margin-left: 25%;
}

.banner {
	width: 90%;
	margin-bottom: 0%;
}

.info {
	display: flex;
	margin: 2.5%;
}

.video {
	width: 100%;
}

.Video1 {
	width: 50%;
	margin: 2.5%;
}

.title {
	padding: 0;
	margin: 0;
	margin-bottom: 2.5%;
	margin-left: 25%;
	margin-right: 25%;
	max-width: 100%;
	text-align: center;
}

.version {
	margin: 0;
	padding: 10%;
	background-color: red;
	color: white;
	text-align: center;
	text-decoration: underline;
	font-size: 25px;
}